/*********************************
  css/layout.css
*********************************/

/* font.css 불러오기 */
@import url(font.css);

/* 초기화 */
* {
  margin: 0;
  padding: 0;
}

li{list-style-type: none;}

a {text-decoration: none; color: #333;}
body * {box-sizing: border-box;}

/* 전체구조 -- FULL-WIDTH */
body {
  height: 100%;
  width: 100%;
  background-color: #111;
  position: fixed;
}

/* 배경 동영상 고정 */
.vid {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.vid video {
  min-width: 100%;
  min-height: 100%;
}

/* 배경 레이어 - 패턴 */
.layer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url(../images/bptn.png);
}

/* 로고 */
#logo {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
}#logo img {
  width: 50px; 
}

/* 헤더 */
header {
  position: fixed;
  width: 200px;
  height: 100%;
  z-index: 100;
  background-color: #111;
}

/* 내비게이션 */
#gnb {
  position: absolute;
  top: 120px;
  right: 0;
  width: 120px;
}
#gnb li {position: relative;}

/* 메인메뉴(1차) */
#gnb>li>a {
  width: 100%;
  height: 40px;
  display: block;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  font-size: 15px;
  line-height: 2.5;
  font-weight: bold;
}
#gnb em {
  display: block;
}

/* 호버스타일 */
#gnb>li:hover >a {
  background-color: #fff;
  color: #111;
}

/* 서브메뉴(2차) */
#gnb>li>ul{
  position: absolute;
  top: 0;
  left: 0;
}
#gnb>li>ul>li>a {
  width: 85px;
  height: 30px;
  display: block;
  background-color: #222;
  color: #fff;
  font-size: 12px;
  line-height: 2.5;
  padding-left: 12px;
  font-weight: bold;
  border-bottom: 1px solid #fff;
}

/* 서브메뉴를 메인메뉴의 우측에 배치 */
#gnb>li>ul {left: 100%;}

/* 서브메뉴 숨기기 */
#gnb>li>ul {
  width: 0;
  opacity: 0;
  visibility: hidden;
}

/* 메인메뉴 호버시 서브메뉴 보이기 */
#gnb>li:hover>ul {
  visibility: visible;
  opacity: 1;
  width: auto;
}

/* 서브메뉴 전환 효과 */
#gnb > li> ul {
  transition: all 0.6s;
}

/* 서브메뉴 호버 효과 */
#gnb ul a:hover {
  background-color: #fff;
  color: #222;
}

/* SNS */

#sns {
  position: fixed;
  top: 30px;
  right: 10px;
}

/* 아이콘 가로 배치 */
#sns li {
  /* float: left; */
  padding: 5px;
  margin-right: 50px;
}

/* 아이콘 스타일 */
#sns .fa {
  font-size: 2rem;
  color: #fff;
  opacity: 0.5;
}

#sns .fa:hover {
  opacity: 1;
}


/* 우측 사이드바 */
#side {
  background-color: #111;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 250px;
  opacity: 0.5;
}
#side .con {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  bottom: 0;
  left: 150px;
  padding-left: 10px;
}

/* 사이드바 호버시 배너 영역 이동 */
#side:hover .con {left: 50px;}
#side .con {
  transition: all 0.6s;
}

/* 사이드바 내부 배너 */
#side .con p {
  position: absolute;
  width: 300px;
  height: 100px;
  left: 20px;
}

#side .con p em {
  color: #fff;
  display: inline-block;
  line-height: 1.5;
}

#side .con p img {
  width: 114px;
  height: 70px;
  opacity: 0.3;
  padding-left: 10px;
}

/* 겹쳐진 배너 이미지 재배치 */
#side .con p:nth-child(3) {bottom: 50px;}
#side .con p:nth-child(2) {bottom: 160px;}
#side .con p:nth-child(1) {bottom: 270px;}

/* 사이드바 배너 호버 효과 */
#side .con p img:hover {opacity: 1;}
#side .con p img {transition: all 0.6s;}

/* 모션 아이콘 (<<) */
#side .btn {
  color: #111;
  width: 150px;
  height: 50px;
  position: absolute;
  bottom: 50px;
  left: -50px;
}
#side .btn i {
  font-size: 5rem;
  opacity: 1;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* 사이드바 호버시 아이콘을 우측으로 내보내기 */
#side:hover .btn {left: 100%;}
#side .btn { transition: all 0.6s;}

/* 사이드바 우측으로 내보내기 */
#side {right: -200px;}

/* 사이드바 호버시 좌측으로 들어오기 */
#side:hover {right: 0;}
#side {transition: all 0.6s;}

/* 매너 이미지 시간차 등장 */
#side .con p {transform: translateX(200px);}
#side:hover .con p {transform: translateX(0);}

#side .con p:nth-child(1) {transition: all 0.4s;}
#side .con p:nth-child(2) {transition: all 0.8s;}
#side .con p:nth-child(3) {transition: all 1.2s;}

/* 아이콘 모션 */
@keyframes blink {
  0% {right: 0; transform: scale(1); opacity: 1;}
  100% { right: 100%; transform: scale(1.5); opacity: 0;}
}

.btn i {animation: blink 1.5s linear infinite;}
.btn i:nth-child(1) {animation-delay: 0s;}
.btn i:nth-child(2) {animation-delay: 0.4s;}
.btn i:nth-child(3) {animation-delay: 0.8s;}





